<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-16 large-centered column text-center">
      <div class="box">
        <div class="gutter row">
          <div class="small-24 column quiz-header">
            
            <p class="quiz-heading">SPEED - QUESTION 2</p>
            <img src="img/q12.jpg" alt="">
         
            
          </div>
        </div>
        <div class="answers">
          <div class="row">
            <div class="small-12 column">
              <span {{action "updateQ12" "air"}}>{{#link-to 'quiz.q1-3-up' class="expand button radius purple-background move-up"}}Ball is in the air{{/link-to}}</span>
            </div>
            <div class="small-12 column">
              <span {{action "updateQ12" "ground"}}>{{#link-to 'quiz.q1-3-down' class="expand button radius purple-background move-down"}}Ball is on the ground{{/link-to}}</span>
            </div>
          </div>
          
        </div>
      </div> {{!-- end of (dark) box --}}


    </div>
  </div>
</div>