<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="dark box">
        <div class="row">
          <div class="small-24 column">
          <h3 class="quiz-heading">SECTION 1 - SPEED</h3>
            <p>This round is designed to test how quickly you make simple decisions. For each image, you must decide if the ball is in the air or on the ground by selecting the appropriate button below.</p>
            <p>REMEMBER: The quicker you answer, the better.</p>
          </div>
        </div>
        <div class="gutter row">
  
        </div>
        <div class="answers">
          <div class="large-gutter row">
            <div class="small-24 column">
              {{#link-to 'quiz.q1-1' class="button button-start radius white-background purple"}}Start{{/link-to}}
            </div>
           
          </div>
          
            
         
        </div>
      </div>{{!-- end of (dark) box --}}


    </div>
  </div>
</div>