<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="dark box">
        <div class="row">
          <div class="small-24 column">
          <h3 class="quiz-heading">SECTION 2 - PRESSURE</h3>
            <p>The next two questions are designed to test your decision making under PRESSURE. You only have 10 seconds to answer each question.</p>
          </div>
        </div>
        <div class="gutter row">

        </div>
        <div class="answers">
          <div class="gutter row">
            <div class="small-24 column">
              {{#link-to 'quiz.q2-1' class="button button-start radius white-background yellow"}}Start{{/link-to}}
            </div>
           
          </div>
          
            
         
        </div>
      </div>{{!-- end of (dark) box --}}


    </div>
  </div>
</div>