<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="box">
        <div class="large-gutter row">
          <div class="small-24 column quiz-header">
          <p class="quiz-heading">TACTICS - QUESTION 1</p>
          </div>
        </div>

        <div class="answers">
          <div class="gutter row">
            <div class="small-24 column">
            {{!-- {{#if videoEnded}} --}}
            {{!-- Appears after video finishes --}}
              <p class="black">Imagine you are the England captain. There are four minutes left in this game, and your team is losing by 3 points. You have just been awarded an easy penalty, which if successful would give you 3 points. Alternatively, you can kick for the corner to give your team a chance of scoring a try (5 points, +2 if converted).</p>
              <p class="black"><b>What would you do?</b></p>
            </div>
            {{!-- {{/if}} --}}
          </div>
          <div class="row">
            <div class="small-12 column">
              <span {{action "updateQ32" "penalty"}}>{{#link-to 'quiz.q3-3' class="expand button radius blue-background"}}Kick for the 3 points{{/link-to}}</span>
            </div>
            <div class="small-12 column">
              <span {{action "updateQ32" "corner"}}>{{#link-to 'quiz.q3-3' class="expand button radius blue-background"}}Go for a try{{/link-to}}</span>
            </div>
          </div>

        </div>
      </div>{{!-- end of (dark) box --}}
      

    </div>


  </div>
</div>
</div>