<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="dark box">
        <div class="row">
          <div class="small-24 column">
          <h3 class="quiz-heading">SECTION 3 - TACTICS</h3>
            <p>The next two questions are designed to assess your TACTICAL and strategic decision making.</p>
          </div>
        </div>
        <div class="gutter row">

        </div>
        <div class="answers">
          <div class="gutter row">
            <div class="small-24 column">
              {{#link-to 'quiz.q3-1' class="button button-start radius white-background blue"}}Start{{/link-to}}
            </div>
           
          </div>
          
          
         
        </div>
      </div>{{!-- end of (dark) box --}}


    </div>
  </div>
</div>