<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="dark box">
        <div class="row">
          <div class="small-24 column">
          <h3 class="quiz-heading red"><span class="animate-pulse">WARNING</span></h3>
            <p>You are not completing these tasks quickly and accurately enough. Please make sure you are concentrating and understand the instructions.</p>
          </div>
        </div>
        <div class="answers">
          <div class="gutter row">
            <div class="small-24 column">
              {{#link-to 'quiz.q4-5' class="button radius red-background"}}Try faster{{/link-to}}
            </div>
           
          </div>
          
          
         
        </div>
      </div>{{!-- end of (dark) box --}}


    </div>
  </div>
</div>