<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-16 large-centered column text-center">
      <div class="box">
        <div class="gutter row">
          <div class="small-24 column quiz-header">
            
            <p class="quiz-heading">VISUAL - QUESTION 6</p>
            <img src="img/q46.jpg" alt="">
         
            
          </div>
        </div>
        <div class="answers">
          <div class="row">
            <div class="small-12 column">
              <span {{action "updateQ47" "left"}}>{{#link-to 'quiz.q5-left' class="expand button radius green-background"}}&larr;  Player will move this way{{/link-to}}</span>
            </div>
            <div class="small-12 column">
              <span {{action "updateQ47" "right"}}>{{#link-to 'quiz.q5-right' class="expand button radius green-background"}}Player will move this way  &rarr;{{/link-to}}</span>
            </div>
          </div>
         
        </div>
      </div>{{!-- end of (dark) box --}}
 

    </div>
  </div>
</div>