<div class="extra-large-margin-top vertical-centered">
  <div class="row">
    <div class="small-24 medium-24 large-12 large-centered column text-center">
      <div class="dark box">
        <div class="row">
          <div class="small-24 column">
            <h3 class="quiz-heading">SECTION 4 - VISUAL</h3>
            <p>This final section is designed to assess how you process visual information. You will be shown a series of images. For each image, you must decide if the player with the ball is going to move to the left or to the right of you.</p>
            <p><b>Make sure you respond as QUICKLY and as ACCURATELY as possible.</b></p>
          </div>
        </div>
        <div class="gutter row">

        </div>
        <div class="answers">
          <div class="gutter row">
            <div class="small-24 column">
              {{#link-to 'quiz.q4-1' class="button button-start radius white-background green"}}Start{{/link-to}}
            </div>
          </div>
        </div>
      </div>{{!-- end of (dark) box --}}


    </div>
  </div>
</div>