{{!-- <div class="liquid-bind-time">
	{{liquid-bind countdown}}
</div>
 --}}
{{!-- <div class="progress round">
	<span class="meter" {{bind-attr style=countdownCss}}></span>
</div> --}}
<div class="clock-container" {{bind-attr id=elId}}>

</div>
