<div class="row">
  <div class="small-24 medium-24 large-24 large-centered column text-center splash-screen animate-fadein">
    <div class="">

      <div class="extra-large-gutter row">
        <div class="small-24 columns">
            <img class="extra-large-margin-top" src="img/logo-white.png" alt="">

        </div>
      </div>

      <h1 class="no-background quiz-heading">THE DECISION BREAKDOWN</h1>
      <p class="button radius animate-pulse result-blue-background"><span class="click-touch">Click</span> to get started.</p>
      
      
    </div>
  </div>
</div>
