.box {
  margin: 5rem 0;
  padding: 0.9375rem;
  padding-top: 0;
	border-radius: 4px;
  background: rgba(#fff, 1);
  .quiz-header:first-of-type {
	    padding: 0;
	    
		}	
  
}
.dark {
	background-color: #242530;
}