.quiz-header {
  img {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
}

.quiz-heading {
		background-color: #242530;
		font-family: 'Avant-Garde-Pro-Light';
		margin: 0;
		padding: 0.7em;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
}